/*
* layout
*
*/
html {
  padding: 0;
  margin: 0;
}
body {
  background: #eee;
  padding: 0;
  margin: 0;
}
#main {
  width: 1024px;
  height: 660px;
  background: #fff;
}
#main > section {
  background-color: #fff;
  border-bottom: 1px dotted gray;
  height: 659px;
  padding: 0 10px;
}
/*
* generic stuff
*/
.centered {
  text-align: center;
}
.page-header {
  text-align: center;
}
/*
* pages
* ========
*/
/* home */
#home .player-select button {
  margin-top: 20px;
}
/* Turn (calc) */
#subtotal li.active {
  background-color: yellow;
}
#numpad {
  position: relative;
  text-align: center;
}
#numpad .btn-group {
  margin: 10px 0 10px;
}
#numpad ol {
  height: 450px;
}
#numpad li {
  float: left;
  padding: 10px;
}
#numpad li button {
  width: 100px;
  height: 100px;
}
#numpad .modal button {
  margin: 20px 0;
}
#numpad .modal button span {
  width: 50px;
}
#numpad #subtotal {
  text-align: right;
}
.modal {
  position: absolute;
  width: 500px;
  margin-left: -263px;
}
/* scoreboard */
#scoreboard li.scores-for-player {
  float: left;
  margin-right: 20px;
  text-align: center;
}
#scoreboard .modal input {
  height: 40px;
  width: 80px;
}
