/*
* layout
*
*/
html {
  padding: 0;
  margin: 0;
}
body {
  background: #eee;
  padding: 0;
  margin: 0;
}
#main {
  width:1024px;
  height: 660px;
  background: #fff;
}

#main > section {
  background-color: #fff;
  border-bottom: 1px dotted gray;
  height: 659px;
  padding: 0 10px;
}
/*
* generic stuff
*/
.centered {
  text-align: center;
}
.page-header {
  text-align: center;
}

/*
* pages
* ========
*/

/* home */
#home .player-select button {
  margin-top: 20px;
}

/* Turn (calc) */
#turn {
  
}
#subtotal {
  li.active {
    background-color: yellow;
  }
}
#numpad {
  position: relative;
  ol {
    height: 450px;
  }
  li {
    float: left;
    padding: 10px;
  }
  li button {
    width: 100px;
    height: 100px;
  }
  .modal button {
    margin: 20px 0;
  }
  .modal button span {
    width: 50px;
  }
  #subtotal  {
    text-align: right;
  }
}
.modal {
  position: absolute;
  width: 500px;
  margin-left: -263px;

}

/* scoreboard */
#scoreboard {
  li.scores-for-player {
    float: left;
    margin-right: 20px;
    text-align: center;
  }
  
  .modal input {
    height: 40px;
    width: 80px;
  }
}