<ol class="unstyled">
	<li><button {{action "registerThrow" 20}} class="btn btn-large" type="button">20</button></li>	
	<li><button {{action "registerThrow" 19}} class="btn btn-large" type="button">19</button></li>	
	<li><button {{action "registerThrow" 18}} class="btn btn-large" type="button">18</button></li>	
	<li><button {{action "registerThrow" 17}} class="btn btn-large" type="button">17</button></li>	
	<li><button {{action "registerThrow" 16}} class="btn btn-large" type="button">16</button></li>	
	<li><button {{action "registerThrow" 15}} class="btn btn-large" type="button">15</button></li>	
	<li><button {{action "registerThrow" 14}} class="btn btn-large" type="button">14</button></li>	
	<li><button {{action "registerThrow" 13}} class="btn btn-large" type="button">13</button></li>	
	<li><button {{action "registerThrow" 12}} class="btn btn-large" type="button">12</button></li>	
	<li><button {{action "registerThrow" 11}} class="btn btn-large" type="button">11</button></li>	
	<li><button {{action "registerThrow" 10}} class="btn btn-large" type="button">10</button></li>	
	<li><button {{action "registerThrow" 9}} class="btn btn-large" type="button">9</button></li>	
	<li><button {{action "registerThrow" 8}} class="btn btn-large" type="button">8</button></li>	
	<li><button {{action "registerThrow" 7}} class="btn btn-large" type="button">7</button></li>	
	<li><button {{action "registerThrow" 6}} class="btn btn-large" type="button">6</button></li>	
	<li><button {{action "registerThrow" 5}} class="btn btn-large" type="button">5</button></li>	
	<li><button {{action "registerThrow" 4}} class="btn btn-large" type="button">4</button></li>	
	<li><button {{action "registerThrow" 3}} class="btn btn-large" type="button">3</button></li>	
	<li><button {{action "registerThrow" 2}} class="btn btn-large" type="button">2</button></li>	
	<li><button {{action "registerThrow" 1}} class="btn btn-large" type="button">1</button></li>	
</ol>

<!-- Modal for multipliers -->
<div class="modal hide fade" id="multipliers-modal">
  <div class="modal-body">
		<button class="btn btn-large btn-block btn-warning" type="button"><span class="badge invisible">single</span> 14</button>
		<button class="btn btn-large btn-block btn-danger" type="button"><span class="badge">double</span> 14 &times; 2 = 28</button>
		<button class="btn btn-large btn-block btn-inverse" type="button"><span class="badge">triple</span> 14 &times; 3 = 42</button>
  </div>
</div>
