<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th width="25%">Marvin</th>
      <th width="25%">Jeroen</th>
      <th width="25%" class="current"><i class="icon-user icon-hand-down"></i><br />Lars Vegas</th>
      <th width="25%">Tjitte</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>301</th>
      <th>301</th>
      <th>301</th>
      <th>301</th>
    </tr>
    <tr>
      <td>265</td>
      <td>243</td>
      <td>280</td>
      <td>205</td>
    </tr>
    <tr>
      <td>210</td>
      <td>195</td>
      <td><input type="text" name="" min="0" max="180" size="3" value="..." /></td>
      <td></td>
    </tr>
  </tbody>
</table>
