<script type="text/x-handlebars" data-template-name="index">
	<section id="match-setup">
		<div class="row">
			<div class="span12 centered">
				<h1>You guys be dartin' ??</h1>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="offset3 span6 centered">
		  	<button {{action newMatch}} type="button" class="btn btn-large btn-block btn-primary"}}> Start new Match </button>
		  	<br />
				<button {{action loadMatch}} type="button" class="btn btn-large btn-block btn-primary"}}> Continue a Match </button>
		  	<br />
				<button {{action loadMatch}} type="button" class="btn btn-large btn-block btn-danger"}}> Logout </button>
			</div>
		</div>
	</section>	
</script>
