<script type="text/x-handlebars" data-template-name="leg">
<section class="scoreboard">

	<div class="top">
	  <div class="nav">
	  	<button {{action newMatch}} type="button" class="btn btn-primary"}}>Home</button>
		</div>
		<div class="current-player">
			{{#if currentPlayer}}
			<h3 {{action gotoNextTurnForPlayer currentPlayer}}><span>{{currentPlayer.name}}</span> to throw!</h3>
			{{/if}}
		</div>
	  <div class="legs-nav">
			<h5>Legs:</h5>
			<ol class="unstyled">
				<li class="closed">1</li>
				<li class="closed">2</li>
				<li>3</li>
			</ol>
		</div>
	</div>

	<div id="scoreboard-wrapper">
			<ol class="unstyled">
				{{#each player in players}}
				<li class="scores-for-player">
					<h4 {{action gotoNextTurnForPlayer player}}>{{player.name}}</h4>
					<ol class="unstyled">
						{{#each player.turns}}
							<li>
								{{#linkTo turn this}}
								{{#if completed}}
									<span>-</span>{{score}}
								{{else}}
									...
								{{/if}}
								{{/linkTo}}
							</li>
						{{/each}}
						<li><strong>{{player.requiredScore}}</strong></li>
					</ol>
				</li>
				{{/each}}
			</ol>
			{{outlet}}		
	</div>
</section>
</script>


<script type="text/x-handlebars" data-template-name="leg/finished">
	<h1 class="center">{{winner.name}} is victorious!</h1>
 	<button {{action newLeg}} type="button" class="btn btn-success btn-block "}}>Game On!</button>
 	<button {{action newMatch}} type="button" class="btn btn-primary btn-block"}}>Start new match</button>
 	<button {{action undoWinner}} type="button" class="btn btn-block btn-danger"}}>Undo</button>
</script>
