<script type="text/x-handlebars" data-template-name="match/new">
<section id="home">
	<div class="row centered">
	  <div class="span6 offset3">
			<div class="row centered">
				<div class="page-header">
				  <h2>Let us play darts!</h2>
				</div>
				<div class="btn-group start-score-select">
				  <button {{action setStartScore 301}} type="button" {{bindAttr class=":btn :btn-large :btn-primary :btn301 is301:active"}}> 301 </button>
				  <button {{action setStartScore 501}} type="button" {{bindAttr class=":btn :btn-large :btn-primary :btn501 is501:active"}}> 501 </button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<!-- left -->
		{{#view App.ChoosePlayersView}}
	  <div class="offset1 span5 available-players">
			<ol class="unstyled">
				{{#each availablePlayers}}
				<li {{bindAttr data-player-id="id"}}>
					{{name}}
				</li>
				{{/each}}
			</ol>
		</div>

		<!-- right -->
	  <div class="span5 match-players">
			<ol>
			</ol>
			<button {{action start}} {{bindAttr disabled=isNotReady}} {{bindAttr class=":btn :btn-large :btn-primary :btn-block isReady::disabled"}} type="button">Start {{startScore}} !</button>
		</div>
		
	</div>		
	{{/view}}
	

</section>
</script>
