<script type="text/x-handlebars" data-template-name="turn">
	<div id="calculator">
		<div id="multipliers" class="btn-group">
			<button {{action setMultiplier 1}} type="button" {{bindAttr class=":multiplier :btn :btn-warning isSingle:active"}}>Single</button>
			<button {{action setMultiplier 2}} type="button" {{bindAttr class=":multiplier :btn :btn-warning isDouble:active"}}>Double</button>
			<button {{action setMultiplier 3}} type="button" {{bindAttr class=":multiplier :btn :btn-warning isTriple:active"}}>Triple</button>
		</div>
		<div id="numpad">
			<button {{action registerThrow 20}} class="ext btn btn-large" type="button">20</button>	
			<button {{action registerThrow 19}} class="ext btn btn-large" type="button">19</button>	
			<button {{action registerThrow 18}} class="ext btn btn-large" type="button">18</button>	
			<button {{action registerThrow 17}} class="ext btn btn-large" type="button">17</button>	
			<button {{action registerThrow 16}} class="ext btn btn-large" type="button">16</button>	
			<button {{action registerThrow 15}} class="ext btn btn-large" type="button">15</button>	
			<button {{action registerThrow 14}} class="ext btn btn-large" type="button">14</button>	
			<button {{action registerThrow 13}} class="ext btn btn-large" type="button">13</button>	
			<button {{action registerThrow 12}} class="ext btn btn-large" type="button">12</button>	
			<button {{action registerThrow 11}} class="ext btn btn-large" type="button">11</button>	
			<button {{action registerThrow 10}} class="ext btn btn-large" type="button">10</button>	
			<button {{action registerThrow 9}} class="btn btn-large"  type="button">9</button>	
			<button {{action registerThrow 8}} class="btn btn-large"  type="button">8</button>	
			<button {{action registerThrow 7}} class="btn btn-large"  type="button">7</button>	
			<button {{action registerThrow 6}} class="btn btn-large"  type="button">6</button>	
			<button {{action registerThrow 5}} class="btn btn-large"  type="button">5</button>	
			<button {{action registerThrow 4}} class="btn btn-large"  type="button">4</button>	
			<button {{action registerThrow 3}} class="btn btn-large"  type="button">3</button>	
			<button {{action registerThrow 2}} class="btn btn-large"  type="button">2</button>	
			<button {{action registerThrow 1}} class="btn btn-large"  type="button">1</button>
			<button {{action registerThrow 25}} class="ext bull btn btn-large btn-success" type="button">single <strong>BULL</strong></button>	
			<button {{action registerThrow 50}} class="ext bull btn btn-large btn-danger" type="button">double <strong>BULL</strong></button>	
			<button {{action registerThrow 0}} class="zero btn btn-large" type="button">0</button>	
			<button {{action registerBust}} class="ext bull btn btn-large btn-inverse" type="button">X <br /><strong>bust!</strong></button>	
			<button {{action registerHomo}} class="ext bull btn btn-large btn-homo" value="26" type="button">26 <strong>homo</strong></button>	
		</div>
	</div>

  <div id="score">
		<div id="current-throw">
		  <h2>{{player.name}}</h2>
			<ol id="dart-scores" class="unstyled">
				<li {{bindAttr class="isDart1Selected:active"}}>
					<button {{action selectDart 1}} type="button" {{bindAttr class=":btn:btn-large isDart1Processed:btn-success"}}>{{dart1}}</button>
				</li>
				<li class="plus">+</li>
				<li {{bindAttr class="isDart2Selected:active"}}>
					<button {{action selectDart 2}} type="button" {{bindAttr class=":btn:btn-large isDart2Processed:btn-success"}}>{{dart2}}</button>
				</li>
				<li class="plus">+</li>
				<li {{bindAttr class="isDart3Selected:active"}}>
					<button {{action selectDart 3}} type="button" {{bindAttr class=":btn:btn-large isDart3Processed:btn-success"}}>{{dart3}}</button>
				</li>
			</ol>
			<h2>
			{{#if hasScore}}
				<span>{{score}}</span>
			{{else}}
				<span>...</span>
			{{/if}}
			<button type="button" {{action "toggleNumpadType"}} {{bindAttr class=":multiplier :btn :btn-warning isNumpadSimple:active"}}>#</button>
			</h2>
  		<button {{action "registerTurn"}} class="btn btn-large btn-block btn-primary" type="button">Commit Score</button>
  		<button {{action "reset"}} class="btn btn-large btn-block" type="button">Reset</button>
		</div>
	</div>

	<div id="latest-scores">
		<ol class="unstyled">
	  {{#each leg.players}}
		<li {{bindAttr class="isCheckoutPossible:checkout"}}>
			<h4>{{name}}</h4>
			<span>{{requiredScore}}</span>
		</li>
		{{/each}}
		</ol>

		<div class="buttons">
		  {{#linkTo leg leg class="btn btn-large btn-block"}}Scoreboard{{/linkTo}}
		</div>
	</div>
</script>
